.app {
	display: flex;
	flex-direction: row;
	max-width: 840px;
	margin: 0 auto;
}

td, th, input {
	color: #333;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 1.4;
	margin-bottom: 10px;
}
